In [1]:
import pandas as pd

import numpy as np

In [2]:
df = pd.read_excel(r"E:\Data Science\data set\global_superstore_2016.xlsx")

df.head(2)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,...,TEC-PH-5816,Technology,Phones,Samsung Convoy 3,221.980,2,0.0,62.1544,40.77,High
1,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,...,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical

In [3]:
# Creating small DF from the bigger df


df1 = df.iloc[:10,-8:-2]

df1

,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,Phones,Samsung Convoy 3,221.980,2,0.0,62.1544
1,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650
2,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710
3,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400
4,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200
5,Phones,"Samsung Smart Phone, with Caller ID",2862.675,5,0.1,763.2750
6,Chairs,"Novimex Executive Leather Armchair, Adjustable",1822.080,4,0.0,564.8400
7,Tables,"Chromcraft Conference Table, Fully Assembled",5244.840,6,0.0,996.4800
8,Bookcases,"Sauder Facets Collection Library, Sky Alder Fi...",341.960,2,0.0,54.7136
9,Chairs,"Global Push Button Manager's Chair, Indigo",48.712,1,0.2,5.4801

# Sorting 


Sorting can be done in two ways:

1. with the help of index

2. with the help of column names

### Way 1

In [11]:
# Sorting the index in the ascending order

df1.sort_index()


# by default it sort in the ascending order

,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,Phones,Samsung Convoy 3,221.980,2,0.0,62.1544
1,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650
2,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710
3,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400
4,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200
5,Phones,"Samsung Smart Phone, with Caller ID",2862.675,5,0.1,763.2750
6,Chairs,"Novimex Executive Leather Armchair, Adjustable",1822.080,4,0.0,564.8400
7,Tables,"Chromcraft Conference Table, Fully Assembled",5244.840,6,0.0,996.4800
8,Bookcases,"Sauder Facets Collection Library, Sky Alder Fi...",341.960,2,0.0,54.7136
9,Chairs,"Global Push Button Manager's Chair, Indigo",48.712,1,0.2,5.4801

In [12]:
# Sorting the index in the decending order


df1.sort_index(ascending = False)

,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
9,Chairs,"Global Push Button Manager's Chair, Indigo",48.712,1,0.2,5.4801
8,Bookcases,"Sauder Facets Collection Library, Sky Alder Fi...",341.960,2,0.0,54.7136
7,Tables,"Chromcraft Conference Table, Fully Assembled",5244.840,6,0.0,996.4800
6,Chairs,"Novimex Executive Leather Armchair, Adjustable",1822.080,4,0.0,564.8400
5,Phones,"Samsung Smart Phone, with Caller ID",2862.675,5,0.1,763.2750
4,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200
3,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400
2,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710
1,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650
0,Phones,Samsung Convoy 3,221.980,2,0.0,62.1544

### Way 2

In [17]:
# Sorting the data using vaules

# Sort the vaules in the ascending order,
# when we sort by using values then we have to specify the column name that we have to sort


df1.sort_values(by = 'Profit')

,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
1,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650
3,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400
9,Chairs,"Global Push Button Manager's Chair, Indigo",48.712,1,0.2,5.4801
8,Bookcases,"Sauder Facets Collection Library, Sky Alder Fi...",341.960,2,0.0,54.7136
0,Phones,Samsung Convoy 3,221.980,2,0.0,62.1544
4,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200
6,Chairs,"Novimex Executive Leather Armchair, Adjustable",1822.080,4,0.0,564.8400
5,Phones,"Samsung Smart Phone, with Caller ID",2862.675,5,0.1,763.2750
2,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710
7,Tables,"Chromcraft Conference Table, Fully Assembled",5244.840,6,0.0,996.4800

In [15]:
# Sort the vaules in the ascending order,
# when we sort by using values then we have to specify the column name that we have to sort


df1.sort_values(by = "Profit", ascending = False)

,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
7,Tables,"Chromcraft Conference Table, Fully Assembled",5244.840,6,0.0,996.4800
2,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710
5,Phones,"Samsung Smart Phone, with Caller ID",2862.675,5,0.1,763.2750
6,Chairs,"Novimex Executive Leather Armchair, Adjustable",1822.080,4,0.0,564.8400
4,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200
0,Phones,Samsung Convoy 3,221.980,2,0.0,62.1544
8,Bookcases,"Sauder Facets Collection Library, Sky Alder Fi...",341.960,2,0.0,54.7136
9,Chairs,"Global Push Button Manager's Chair, Indigo",48.712,1,0.2,5.4801
3,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400
1,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650

In [20]:
# Sorting the Multiple values in the ascending order


df1.sort_values(["Profit","Sub-Category"])


# 2nd column always have dependency on the 1st column

# for eg: if we have profit - 14,14,15,16,14,18

#              sub-category - A,B,C,D,A,E

#   Profit      Sub-Category

#    14            A
#    14            A
#    14            D
#    15            B
#    16            C
#    18            E

,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
1,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650
3,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400
9,Chairs,"Global Push Button Manager's Chair, Indigo",48.712,1,0.2,5.4801
8,Bookcases,"Sauder Facets Collection Library, Sky Alder Fi...",341.960,2,0.0,54.7136
0,Phones,Samsung Convoy 3,221.980,2,0.0,62.1544
4,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200
6,Chairs,"Novimex Executive Leather Armchair, Adjustable",1822.080,4,0.0,564.8400
5,Phones,"Samsung Smart Phone, with Caller ID",2862.675,5,0.1,763.2750
2,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710
7,Tables,"Chromcraft Conference Table, Fully Assembled",5244.840,6,0.0,996.4800

In [21]:
# Let's have more clearty

df1.sort_values(["Quantity","Sub-Category"])

,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
9,Chairs,"Global Push Button Manager's Chair, Indigo",48.712,1,0.2,5.4801
8,Bookcases,"Sauder Facets Collection Library, Sky Alder Fi...",341.960,2,0.0,54.7136
0,Phones,Samsung Convoy 3,221.980,2,0.0,62.1544
6,Chairs,"Novimex Executive Leather Armchair, Adjustable",1822.080,4,0.0,564.8400
3,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400
5,Phones,"Samsung Smart Phone, with Caller ID",2862.675,5,0.1,763.2750
7,Tables,"Chromcraft Conference Table, Fully Assembled",5244.840,6,0.0,996.4800
4,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200
1,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650
2,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710

In [22]:
# So, above sort the quantity data in ascending order and we have 2 two times and with in 2--> it has sort the sub-category 
# in the alphabetic order.

### Creating the new column

In [24]:
# WAY 1 : Create new column


df1["Discounted Sales"] = 10
df1


# It will create new column and it supply value 10 in every row

,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Discounted Sales
0,Phones,Samsung Convoy 3,221.980,2,0.0,62.1544,10
1,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,10
2,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,10
3,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,10
4,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,10
5,Phones,"Samsung Smart Phone, with Caller ID",2862.675,5,0.1,763.2750,10
6,Chairs,"Novimex Executive Leather Armchair, Adjustable",1822.080,4,0.0,564.8400,10
7,Tables,"Chromcraft Conference Table, Fully Assembled",5244.840,6,0.0,996.4800,10
8,Bookcases,"Sauder Facets Collection Library, Sky Alder Fi...",341.960,2,0.0,54.7136,10
9,Chairs,"Global Push Button Manager's Chair, Indigo",48.712,1,0.2,5.4801,10

In [8]:
# WAY 2 : Create new column by giving different values in every row

# Here, we will create list 1st then create new column using loc


l = list(range(10,20))
l

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [9]:
df1.loc[: , "New"] = l

df1

,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,New
0,Phones,Samsung Convoy 3,221.980,2,0.0,62.1544,10
1,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,11
2,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,12
3,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,13
4,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,14
5,Phones,"Samsung Smart Phone, with Caller ID",2862.675,5,0.1,763.2750,15
6,Chairs,"Novimex Executive Leather Armchair, Adjustable",1822.080,4,0.0,564.8400,16
7,Tables,"Chromcraft Conference Table, Fully Assembled",5244.840,6,0.0,996.4800,17
8,Bookcases,"Sauder Facets Collection Library, Sky Alder Fi...",341.960,2,0.0,54.7136,18
9,Chairs,"Global Push Button Manager's Chair, Indigo",48.712,1,0.2,5.4801,19